.TableCoins {
    border-collapse:collapse;
    width:50%;
    margin-top:2rem;
}

.TableCoins caption {
    font-weight:700;
    text-transform: uppercase;
}

.TableCoins td, .principalTable td {
    border: 1px solid #ddd;
    padding 0.5rem;
}

.TableCoins th {
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:#04AA6D;
    tex-align:center;
    color:white;
    font-size:1.rem;
    text-transform: uppercase;
    font-weight: 700;
}

.TableCoins tr:nth-child(even) {
    background-color: gray;
}

.TableCoins tr:hover {
    background-color: #ddd;
}
